atomicwrites==1.3.0
attrs==19.1.0
colorama==0.4.1
coverage==4.5.3
Django==2.2.3
-e git+https://github.com/yourlabs/django-autocomplete-light.git@b6cd19ed08183cc934419b7ec52f6b004455608c#egg=django_autocomplete_light
django-crispy-forms==1.7.2
django-debug-toolbar==2.0
django-extensions==2.2.1
-e git+https://github.com/coleifer/django-generic-m2m.git@83b90cd38275b04413f944fe37e4446e4fe09bf6#egg=django_generic_m2m
django-gm2m==0.6.1
-e git+https://github.com/theatlantic/django-nested-admin.git@4a511db92549d7c17c3499638060f0761dcb414e#egg=django_nested_admin
django-querysetsequence==0.11
django-tagging==0.4.6
django-taggit==1.1.0
importlib-metadata==0.18
mock==3.0.5
more-itertools==7.1.0
packaging==19.0
Pillow==8.3.2
pluggy==0.12.0
psycopg2==2.8.2
py==1.8.0
pyparsing==2.4.0
pytest==5.0.1
pytest-cov==2.7.1
pytest-django==3.5.1
pytest-splinter==2.0.1
python-monkey-business==1.0.0
pytz==2019.1
selenium==3.141.0
six==1.12.0
splinter==0.11.0
sqlparse==0.3.0
tenacity==5.0.4
urllib3==1.25.3
virtualenv==16.6.0
wcwidth==0.1.7
whitenoise==4.1.3
zipp==0.5.2
