{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Insulin Journal</title>
</head>

<body>

  <h1>Insulin Journal</h1>
  <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Patient</th>
        <th>Date Time</th>
        <th>Meal</th>
        <th>Current BSL</th>
        <th>Difference BSL</th>
        <th>Total Carbs</th>
        <th>Insulin Dose</th>
      </tr>
    </thead>
    {% for log in logs.all %}
    <tbody>
      <tr>
        <td>{{log.patient}}</td>
        <td>{{log.meal_time}}</td>
        <td>{{log.meal}}</td>
        <td>{{log.curr_BSL}}</td>
        <td>{{log.diff_BSL}}</td>
        <td>{{log.total_carb}}</td>
        <td>{{log.total_insulin}}</td>
      </tr>
    </tbody>
    {% endfor %}
  </table>

</body>

</html>

{% endblock %}
