{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Calculate and Log Insulin</title>
</head>
{% if error %}
{{ error }}
<br>
<br>
{% endif %}
<script type="text/javascript" src="//code.jquery.com/jquery-2.1.0.js"></script>
<script type="text/javascript">
  $(window).load(function() {
    $(document).ready(function() {
      $('#calculate').click(function() {
        var tot = parseFloat($('#id_curr_BSL').val()) - parseFloat($('#tarBSL').val());
        var totalcorr = tot / parseFloat($('#isf').val());
        $('#total').val(tot);
        $('#totalinsulin').val(totalcorr);
      });

      $("#id_curr_BSL, #tarBSL").keypress(function(e) {
        if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
          $("#errmsg").html("Digits Only").show().fadeOut("slow");
          return false;
        }
      });
    });

    $(document).ready(function() {
      $('#calculatemeal').click(function() {
        var totalmeal = parseFloat($('#id_total_carb').val()) / parseFloat($('#carbratio').val());
        $('#totalmeal').val(totalmeal);
      });

      $("#id_total_carb, #carbratio").keypress(function(e) {
        if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
          $("#errmsg").html("Digits Only").show().fadeOut("slow");
          return false;
        }
      });
    });

    $(document).ready(function() {
      $('#calculateinslin').click(function() {
        var totalmeal = parseFloat($('#totalinsulin').val()) + parseFloat($('#totalmeal').val());
        $('#totalinslinmeal').val(totalmeal);
      });

      $("#totalinsulin, #totalmeal").keypress(function(e) {
        if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
          $("#errmsg").html("Digits Only").show().fadeOut("slow");
          return false;
        }
      });
    });
  });
</script>


      <main>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
        <h2> Hello {{ patient.first_name }}! Welcome to your log and insulin calcuator</h2>
        <hr>
        <nav class="col-md-4 d-none d-md-block float-right sidebar">
          <h5 class="h4">Search for food</h5>
          <br>
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="#">
                  <form method="GET" action=".">
                    <div class="form-row">
                      <div class="form-group col-12">
                        <div class="input-group">
                          <input class="form-control py-2" type="search" name="food_contains" placeholder="If contains">
                        </div>
                      </div>
                    </div>

                    <div class="form-row">
                      <div class="form-group col-12">
                        <div class="input-group">
                          <input class="form-control" type="search" name="food_exact" placeholder="Exact">
                        </div>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Check Carbs</button>
                    <div class="row">
                      <ul>
                        {% for food in queryset %}
                        <li>
                          {{ food.name}}<br>
                          Food type: {{ food.foodtype }}<br>
                          Amount of carbs: {{ food.carbs }}
                          <br>
                          <br>
                        </li>
                        {% endfor %}
                      </ul>

                    </div>
                  </form>
                </a>
              </li>
            </ul>
          </div>
        </nav>
        <div>
          <div class="container-fluid">
            <form action="{% url 'logs' %}" enctype="multipart/form-data" method="post">
              {% csrf_token %}
              {{ form.errors }}
              {{ form.non_field_errors }}

              <div class="form-row">
                <div class="col" id="message">
                  <h5 class="h4">Covering High Blood Sugar</h5>
                  <br>
                  <div class="form-group">
                    <strong>Date and Time of Meal:</strong>
                    {{ form.meal_time }}
                  </div>
                  <div class="form-group">
                    <strong>Blood Sugar Level Before Meal:</strong>
                    <div class="controls">
                      {{ form.curr_BSL }}
                    </div>
                  </div>
                  <div class="form-group">
                    <strong>Top of Target Blood Sugar Level:</strong>
                    <input type="text" value=130 class="form-control" id="tarBSL" readonly>
                  </div>
                  <div class="form-group">
                    <strong>Blood Sugar Differences:</strong>
                    <input type="text" name="blooddiff" class="form-control" id="total" readonly>
                  </div>
                  <div class="form-group">
                    <strong>Insulin Sensitivity Factor:</strong>
                    <input type="text" value="{{patient.patient.insulin_sens}}" id='isf' class="form-control" readonly>
                  </div>
                  <div class="form-group">
                    <strong>Units of Insulin to Correct:</strong>
                    <input type="text" class="form-control" id="totalinsulin" readonly>
                  </div>
                  <div class="form-group">
                    <div class="form-row">
                      <div class="col">
                        <button type="button" class="form-control btn btn-primary" id="calculate">Calculate</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col" id="message">
                  <h5 class="h4">Covering Carbohydrates</h5>
                  <br>
                  <div class="form-group">
                    <strong>Meal:</strong>
                    {{ form.meal }}
                  </div>
                  <div class="form-group">
                    <strong>Total grams of Carbohydrates:</strong>
                    {{ form.total_carb }}
                  </div>
                  <div class="form-group">
                    <strong>Carbohydrates Ratio:</strong>
                    <input type="text" value="{{patient.patient.carb_ratio}}" id="carbratio" class="form-control" readonly>
                  </div>
                  <div class="form-group">
                    <strong>Units of Insulin to Cover Meal:</strong>
                    <input type="text" class="form-control" id="totalmeal" readonly>
                  </div>
                  <div class="form-group">
                    <div class="form-row">
                      <div class="col">
                        <button type="button" class="form-control btn btn-primary" id="calculatemeal">Calculate</button>
                      </div>
                    </div>
                  </div>


                  <div class="form-group">
                    <strong>Total Insulin needed:</strong>
                    <input type="text" class="form-control" id="totalinslinmeal" readonly>
                  </div>

                  <div class="form-group">
                    <div class="form-row">
                      <div class="col">
                        <button type="button" class="form-control btn btn-primary" id="calculateinslin">Calculate</button>
                      </div>
                    </div>
                  </div>


                </div>
              </div>
              <div class="col-lg-12">
                <div class="row justify-content-md-center">
                  <div class="col-2">
                  </div>
                  <div class="col-8">
                    <label>Notes:</label>
                    {{ form.notes }}
                    <br>
                    <input class="form-control btn btn-primary" type="submit" value="Submit">
                    <br><br>
                    <div class="row pt-5">
                  </div>
                  <div class="col-2">
                  </div>
                  {{ form.errors }}
                  {{ form.non_field_errors }}
                </div>
              </div>
            </form>
          </div>
        </div>
      </main>
</html>

{% endblock %}
